
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Mulish", "Arial";
}

a {
   color: #6997a1;
   text-decoration: none;
}

a:hover {
    color: #45626e;
    text-decoration: underline;
}

article ul {
    padding-left: 1em;
}

article li {
    list-style: circle outside;
}

.invisible {
    display: none;
}

.container {
    flex: 1 0 auto;
    max-width: 800px;
}

nav.header-menu {
    text-align: center;
    padding-top: 2em;
}

nav.header-menu ul {
    margin: 0;
}

nav.header-menu ul > li {
    display: inline-block;
    text-align: right;
    padding: 0;
}

nav.header-menu ul > li:nth-child(n+2) {
    padding-left: 0.5em;
}

nav.header-menu ul > li a {
    text-decoration: none;
    color: #6997a1;
    font-size: 1.6rem;
}

nav.header-menu ul > li a:hover {
    color: #45626e;
    text-decoration: underline;
}

nav.header-menu ul > li a.current-nav-page {
    color: #45626e;
    text-decoration: underline;
    pointer-events: none;
}

.about-text {
    text-align: justify;
    font-size: 1.6rem;
}

.search-logo {
    text-align: center;
    padding-top: 10%;
}

.search-logo .logo {
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 1px;
}

.search-logo .logo-text {
    font-size: 3rem;
    color: #222;
    margin-bottom: 0;
    display: inline-block:
    vertical-align: middle;
}

.search-form-container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    padding-top: 25%;
}

.search-form-container .search-form-ui-bar {
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 16px;
    height: 45px;
    font-size: 16px;
    display: flex;
}

.search-form-container .search-form-ui-bar #search-bar {
    width: 100%;
    border: none;
    height: 45px;
    font-size: 16px;
    background: transparent;
    display: flex;
    padding-left: 0.8em;
}

.search-form-container .search-form-ui-bar:focus-within,
.search-form-container.has-query .search-form-ui-bar {
    box-shadow: 0 2px 4px 1px rgba(64,60,67,.16);
    border-color: rgba(187, 187, 187, 0.5);
}

.search-form-container .search-form-ui-bar .search-clear-button {
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 1.1em;
    padding-right: 0.8em;
    color: #576574;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-form-container h3 {
    font-size: 3.6rem;
    color: #222;
    margin-bottom: 0;
    pointer-events: none;
    text-decoration: none;
    display: inline-block:
    vertical-align: middle;
}

.search-logo-column .logo {
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 1px;
}

.search-form-container h3 a {
    color: #222;
    pointer-events: none;
    text-decoration: none;
}

.search-form-container.has-query {
    padding-top: 1.5em;
    text-align: left;
    margin-bottom: 1.5em;
    max-width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.search-form-container.has-query h3 {
    margin: 0;
    font-size: 1.2em;
}

.search-form-container.has-query h3 a {
    margin: 0;
    pointer-events: all;
}

.search-form-container.has-query h3 a:hover {
    margin: 0;
}

.search-form-container.has-query .search-logo-column .logo {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 0px;
}

.search-form-container.has-query input,
.search-form-container.has-query form {
    margin: 0;
}

.search-form-container.has-query .search-logo-column {
    padding-right: 1em;
    position: absolute;
    left: -13em;
}

.search-form-container.has-query .search-form-column {
    flex: 1 1 auto;
}

.search-form-tagline {
    text-align: center;
    margin-bottom: 1.5em;
}

.search-form-container.has-query .search-form-tagline {
    display: none;
}

.search-highlight-mobile-image-group {
    display: none;
}

.search-result-highlight-group {
    display: flex;
}

.search-highlight-image-group {
    padding-left: 8px;
    padding-top: 12px;
    margin-left: auto;
}

.search-highlight-thumbnail {
    object-fit: cover;
    width: 92px;
    height: 92px;
    border-radius: 16px;
}

.search-result-group .search-result:nth-child(n+2) {
   /* padding-left: 1em; */
}

.search-result-group .search-result .search-result-highlight p {
    margin-bottom: 2.5rem;
}

.search-result a {
    text-decoration: none;
}

.search-result h5 {
    margin-bottom: 0;
    font-size: 2.1rem;
    font-weight: bold;
    overflow-wrap: anywhere;
}

.search-result h5 a {
    color: #5EA99C;
}

.search-result h5 a:hover {
    color: #45626e;
    text-decoration: underline;
}

.search-result h5 a:visited {
    color: #45626e;
}

.search-result-link {
    display: inline-flex;
    width: 100%;
}

.search-result-link-value {
    flex: 0 1 content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-result-link-label {
    flex: 1 0 content;
    white-space: nowrap;
}

.search-result-link-label span {
    border: 1px solid rgba(187, 187, 187, 0.5);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    border-radius: 6px;
}

.search-result-link a,
.search-result-link span {
    color: #576574;
    font-size: 1.3rem;
}

.search-result-highlight {
    font-size: 1.7rem;
    margin-top: 0.2em;
    overflow-wrap: anywhere;
}

.search-result-highlight em {
    font-weight: bold;
}

.search-result-error {
    text-align: center;
}

.search-pagination-container {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.search-pagination-container ul {
    list-style: none;
}

.search-pagination-container ul > li {
    display: inline-block;
    margin-right: 1em;
}

.search-pagination-container {
    font-size: 2.0rem;
}

.search-pagination-container a.current-search-page {
    color: #45626e;
    text-decoration: underline;
    pointer-events: none;
}

footer {
    width: 100%;
    flex-shrink: 0;
}

footer #footer-image {
    background-image: url(../images/mountains_noBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}


@media(max-width: 1300px) {
    .search-form-container.has-query .search-logo-column {
        padding-right: 1em;
        position: relative;
        width: 100%;
        left: 0;
        text-align: center;
        margin-bottom: 1em;
    }

    .search-form-container.has-query h3 {
        font-size: 1.4em;
    }

    .search-form-container.has-query h3 a {
        text-decoration: none;
    }
}

@media(max-width: 500px) {
    .search-form-container h3 {
        font-size: 2.8rem;
    }

    .search-form-container .search-form-tagline {
        font-size: 1.35rem;
    }

    .search-logo-column .logo {
        height: 30px;
    }

    .search-highlight-image-group {
        display: none;
    }

    .search-highlight-mobile-image-group {
        display: flex;
        margin-left: auto;
        padding-left: 12px;
    }

    .search-result-highlight {
        display: flex;
    }
}